.commission{
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 50px 20px;
   .info-wrapper{
       position: relative;
        width: 100%;
        padding: 0px 20px;
        margin-bottom: 20px;
        .dot-radio{
            width: 25px;
            height: 25px;
            // background-color: blue;
            border-radius: 50%;
            position: absolute;
            // top: 0px;
            left: -14px;
            display:flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding-right: 1px;
            color: #fff;
            cursor: pointer;
            .delete-icon{
                position: absolute;
                color: #000;
                top: -12px;
                right: -12px;
            }
        }
        .bottom{
            position:absolute;
            bottom: 0px !important;
            left: -16px !important;
        }
        .info{
            position: relative;
            top: -5px;
            min-height: 130px;
            .title{ 
                 font-size: 23px;
            }
            .content{
                font-size: 16px;
            } 
        }
   }
}

.lengLine{
    position: relative;
    top: 0px;
    height: 80px;
}

.commission-primary{
    .info-wrapper{
        .dot-radio{
            @include dot-radio-color($primary);
        }
        @include commission-border($primary);
        .lengLine{
            @include commission-border($primary)
        }
    }
    .lengLine{
        @include commission-border($primary)
    }
}

.commission-warning{
    .info-wrapper{
        @include commission-border($warning);
        .dot-radio{
            @include dot-radio-color($warning)
        }
    }
    .lengLine{
        @include commission-border($warning)
    }
}

.commission-danger{
    .info-wrapper{
        @include commission-border($danger);
        .dot-radio{
            @include dot-radio-color($danger)
        }
    }
    .lengLine{
        @include commission-border($danger)
    }
}

.commission-info{
    .info-wrapper{
        @include commission-border($info);
        .dot-radio{
            @include dot-radio-color($info)
        }
    }
    .lengLine{
        @include commission-border($info)
    }
}