
$background-color: #F90;

.wrapper{
    .demo_one{
        width: 100px;
        height: 100px;
        background-color: $background-color;
        transition: background 2s ease;
        &:hover{
            background-color: #f00;
            cursor: pointer;
        }
    }
    
}