.table-wrapper{
    display:flex;
}

.table-container{
    position: relative;
    width: 100%;
    .t_thead{
        background: #fafafa;
        .t_tr{
            display: flex !important;
            min-height: 55px !important;
            align-items: center !important;
            .chooselable{
                display: inline-block !important;
                width: 20px;
                cursor: pointer;
                margin-left: 10px;
                height: 55px;
            }
        }
        th{
            color: rgba(0,0,0,.85);
            font-weight: 500;
            text-align: left;
            background: #fafafa;
            border-bottom: 1px solid #f0f0f0;
            -webkit-transition: background .3s ease;
            transition: background .3s ease;
            flex: auto;
            text-align: center;
            height: 55px;
            line-height: 55px;
        }
    }
}

.tbody_wrapper{
    overflow-x: scroll;
    overflow-y: scroll;
    .t_tbody{
        width: 100% !important;
        display: block;
      label{
        display: block !important;
        margin-bottom: 0rem !important;
      }
      .t_tr{
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          min-height: 55px !important;
        //   line-height: 55px;
          .chooselable{
            display: inline-block !important;
            width: 20px;
            cursor: pointer;
            margin-left: 10px;
            height: 55px;
            line-height: 55px;
        }
      }
      td{
          text-align: center;
          flex: auto;
      }
    }
}

.expandIcon{
    display: inline-block !important;
    width: 30px;
    cursor: pointer;
    margin-left: 10px;
    height: 100%;
}

.expendContent{
    height: 60px;
}

.firstColomnsTitle{
    width: 100px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.table-borderd{
    border-top: #f0f0f0 1px solid;
    border-bottom: #f0f0f0 1px solid ;
    .t_thead{
        background: #fafafa;
        .t_tr{
            display: flex !important;
            min-height: 55px !important;
            align-items: center !important;
            border-bottom: #f0f0f0 1px solid;
            .chooselable{
                display: inline-block !important;
                width: 20px;
                cursor: pointer;
                margin-left: 10px;
                height: 55px;
            }
        }
        th{
            text-align: center;
            flex: auto;
            color: rgba(0,0,0,.85);
            font-weight: 500;
            text-align: left;
            background: #fafafa;
            border-bottom: 1px solid #f0f0f0;
            -webkit-transition: background .3s ease;
            transition: background .3s ease;
            height: 55px;
        }
    }
    .tbody_wrapper{
        .t_tbody{
            width: 100% !important;
            display: block;
        }
        .t_tr{
            border-bottom: #f0f0f0 1px solid !important;
            min-height: 55px !important;
        }
        .expendContent{
            border-bottom:#f0f0f0 1px solid
        }
        td{
            flex: auto;
            text-align: center;
        }
    }
}

.table-loading tbody{
    filter:opacity(0.5);
}